@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;

}
@theme {
  --color-primary: #10b981;
  --color-secondary: #34D399;
  --color-dark: #08120D;
  --color-card: #102019;
  --color-muted: #9CA3AF;
  --color-light: #F8FAFC;
}

body{
  color:white;
  background-color: #09090B;
}